* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: white; */
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 1rem;
}
.card {
  padding: 1rem;
  background-color: #13040407;
  box-shadow: 1px 1px 1px rgba(70, 131, 180, 0.932),
    -1px -1px 1px rgba(70, 131, 180, 0.932);
  border-radius: 20px;
}

.class-header {
  text-align: center;
  font-size: large;
  color: steelblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.input-group {
  display: flex;
  justify-content: stretch;
  margin: 1rem 0;
  gap: 10px;
}

.input-group-edit {
  padding: 5px;
  border-radius: 5px;
  color: steelblue;
  gap: 10px;
}
.input-group-edit button {
  padding: 7px;
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 7px;
  background-color: steelblue;
  color: white;
}
.input-group-edit input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  color: steelblue;
  border: none;
  border-bottom: 2px solid teal;
  outline-color: steelblue;
  flex: 1;
  font-size: 1rem;
}

.input-group input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  color: steelblue;
  border: none;
  border-bottom: 2px solid steelblue;
  outline-color: steelblue;
  flex: 1;
  font-size: 1rem;
}

button {
  padding: 0px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  font-size: 2.5rem;
  color: steelblue;
  cursor: pointer;
  border: none;
  background-color: #13040400;
  border-radius: 50%;
}

button:hover {
  transform: scale(1.02);
}

.button-functions {
  display: flex;
  cursor: pointer;
}
